[submodule "workflow-package"]
	path = workflow-package
	url = https://github.com/firestige/workflow-package.git
[submodule "execution-system"]
	path = execution-system
	url = https://github.com/firestige/execution-system.git
[submodule "evidence-system"]
	path = evidence-system
	url = https://github.com/firestige/evidence-system.git
[submodule "evolution-system"]
	path = evolution-system
	url = https://github.com/firestige/evolution-system.git
[submodule "system-contracts"]
	path = system-contracts
	url = https://github.com/firestige/system-contracts.git
[submodule "wsr-ui"]
	path = wsr-ui
	url = https://github.com/firestige/wsr-ui.git
